<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">accueil</a></li>
			<li><a href="/a-propos/">à propos</a></li>
	        </ul>
		</nav>
		<div class="container">
    	{{ content }}
      
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:jonathan.boyer@gmail.com">courriel</a></li>
        		<li><a href="https://github.com/jonathanboyer">github</a></li>
			</ul>
		</footer>
	</body>
</html>
